*{
	background: scroll;
}
.homepage{
	padding: 20px;
	margin: 20px;
	background-color: lavender;
	display: block;
	justify-content: space-around;
}
.my-div{
	height: fit-content;
	display: flex;
	padding: 10px;
	justify-content: space-around;
}
.hire{
	justify-content: space-around;
}
.hire a{
	text-decoration: none;
}
.hire a:hover{
	color: blue;
}
.project{
	width: 350px;
	background-color: grey;
	height: 380px;
	padding:10px 5px 20px 20px ;
	border-radius: 20px;
display: block;
border-bottom: 10px solid;
}
.my-profile{
	padding: 35px 30px 20px 30px ;
}


.project ul li{
	text-decoration: none;
	padding-top: 5px;
	list-style: none;

}
.project ul li a{
	padding: 3px;
	text-decoration: underline;
	color: blue;
	font-size: 20px;
}
.project ul li a:hover{
	color: white;
	background-color: black;
	border-radius: 10PX;
}
.skills{
	background-color: gray;

	
}
.skills ul li{
	font-size: 18px;
	padding-top: 0px;
	list-style: disc;
}


.portfolio{
	width: 100px;
	height: 30px;
	background-color: blue;
	text-align: center;	
	line-height: 30px;
	border-radius: 30px;
	display: block;
}
.portfolio a{
	text-decoration: none;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;
	color: white;
	
	}
	.portfolio a:hover{
		color:black;
	
		}
.social{
	padding: 10px;
	width: 100%;
align-items: center;
	background-color: black;
	justify-content: space-around;
padding-top: 20px;
height:fit-content;
}
.social li{
	
text-decoration: none;
display: inline-block;


}
.social li a{

	text-align: center;
	padding-left: 30px;

}
.social li a img{
	height: 40px;
	width: 40px;
border-radius: 50%;
border: 1px solid red;

}

.projo table tr{
	border-radius: 10%;
	
}





@media  (max-width:500px) {	
	.homepage{
		padding:0%;
		margin:0% ;
		background-color: lavender;
		display: block;
		justify-content: space-around;
	}
	
	.my-div{
		display: block;
		padding: 0%;
	}
	.projo table{
		display: block;
		
	}
	
}

@media  (max-width:821px) {	
	.homepage{
		padding: 5px;
		margin: 5px;
		background-color: lavender;
		display: block;
		justify-content: center;
	}
	
	.my-div{
		display: block;
		
	}
	.projo table{
		display: block;
		
	}
	
}
